
.flex-header{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-top: 30px;
	padding-bottom: 15px;
	
}

.flex-header a{
	 flex-grow: 1;
	 text-align:center;
}

.flex-column{
	display: flex;
	flex-direction: column;

}

.flex-row{
	display: flex;
	flex-direction: row;
	
}

.bottom{
	margin-bottom: 30px;
}

.flex-6{
	flex: 50%;
}

.flex-1{
	flex: 1;
}

.right{
	padding-right: 10px;
}

.left{
	padding-left: 10px;
}
 
 .flex-row2{
	width: 960px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	margin-bottom: 50px;
}









ul, li{
	margin: 0;
padding: 0;
}


nav li{
	list-style-type: none;
	

}
