@import url('flex.css');
@import url('gallery.css');
@import url('styleform.css');


body{
	background-image:url('../img/wp.jpg');
	background-attachment: fixed;
	background-size: 100%  100%;
}


.container{
	max-width: 960px; 
	margin: 0 auto;
}

a.head 
{
	font-size: 18px;
	font-family: serif;
	color: white;
	text-decoration: none;
}

.button
{
	background: blue;
	width: 100px;
	height: 20px;
	padding: 10px 20px;
	border-radius: 20px;
	text-align:center;
	
}


.button a
{
	color: white;
	text-decoration: none;
}



a.author{
	color: white;
}

img{
	width: 100%;
	height:auto;
}

h1{
	color:black;
}

h3{
	font-family: sans-serif;
}

p{
	font-size: 18px;
	text-align:justify;
	font-family: sans-serif;
}

.article{
	margin-bottom: 50px;

}


.date{
	text-align:right;
	color:blue;
}

ul.blog{
	font-size: 18px;
	font-family: sans-serif;
	margin-left: 50px;
}


ul.menu{
	font-size: 18px;
	font-family: sans-serif;
	margin-top: 1%;

}

.submenu li{
	padding: 5px;
	border-bottom: 1px solid white;
}

.letter{
	font-style: italic;
}

footer{
	text-align:center;
}

.foot{
	font-size:20px;
	margin-left: 50px;
	color: white;
	text-decoration: none;
}

.menu li a:hover{
	color: aqua;
}

.submenu a{
	font-family: serif;
	color: white;
	text-decoration: none;
}

.more{
	position: relative;
}

.submenu{
	position: absolute;
	opacity: 0;
	
}
	
.more:hover .submenu{
	opacity: 1;
}
	
	
/*---------------------Форма авторизации в модальном окне--------------------------------------*/

.modal{
    position: absolute;
    left: 50%;
    background: whitesmoke;
    padding: 30px;

    transform: translate(-50%, -50%);
    transition: all 1s;
}

.modal:target{
    top: 50%;
}

.modal:not(:target){
    top: -50%;
}

.close-modal{
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none;
    font-family: sans-serif;
}

.place{
	margin-bottom: 7px;
	border: 1px solid blue;
}

	
	
	
	
	